<section class="hero">
  <div class="container hero__grid">
    <div class="hero__content">
      <p class="badge">Jednostavno. Čisto. Profesionalno.</p>
      <h1>Pruži svojoj frizuri ugođaj koji zaslužuje</h1>
      <p class="lead">
        Salon sa dugogodišnjom tradicijom, u vlasništvu široko poznatog majstora ovog zanata.
      </p>
      <div class="hero__actions">
        <a class="btn" href="#/pricing" data-link>Pogledaj cijene</a>
        <a class="btn btn--ghost" href="#/contact" data-link>Kontaktirajte nas</a>
      </div>

      <div class="hero__stats">
        <a
          class="stat stat--link"
          href="https://share.google/iN7v5GPWCyw5OSGKn"
          target="_blank"
          rel="noopener noreferrer"
        >
          <div class="stat__value">⭐ 5.0</div>
          <div class="stat__label">Google recenzije</div>
        </a>

        <div class="stat">
          <div class="stat__value">20+ godina</div>
          <div class="stat__label">Iskustva</div>
        </div>

        <div class="stat">
          <div class="stat__value">Bez najava ste</div>
          <div class="stat__label">Dobrodošli</div>
        </div>
      </div>
    </div>

    <div class="hero__card">
      <!-- Replace with real photo later -->
      <div class="photo">
        <img src="assets/img/salon.jpeg" alt="Salon" class="photo__img" />
      </div>


      <div class="card card--floating">
        <h3>Otvoreni smo:</h3>
        <ul class="list">
          <li><span>Pon–Pet</span><span>08:00–19:00</span></li>
          <li><span>Subota</span><span>08:00–16:30</span></li>
          <li><span>Nedjelja</span><span>Neradna</span></li>
        </ul>
        <a class="link" href="https://maps.app.goo.gl/gip7ZqfrcjPQKbdp9" target="_blank" data-link>Pronađi nas →</a>
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="section__head">
      <h2>Usluge</h2>
      <p>Frizura je Vaša kruna!</p>
    </div>

    <div class="grid grid--3">
      <article class="card">
        <h3>Muške frizure</h3>
        <p>Klasične i moderne frizure</p>
      </article>
      <article class="card">
        <h3>Ženske fizure</h3>
        <p>Frizure napravljene po Vašim željama</p>
      </article>
      <a href="assets/img/cjenovnik.jpeg" target="_blank" class="card-link">
        <article class="card">
          <h3>Pogledaj detaljno</h3>
          <p>Cjenovnik sa svim uslugama</p>
        </article>
      </a>
    </div>
  </div>
</section>

<section class="section section--alt">
  <div class="container cta">
    <div>
      <h2>Jeste li za promjenu izgleda?</h2>
      <p>Kontaktirajte nas ili dođite u salon.</p>
    </div>
    <a class="btn" href="#/contact" data-link>Kontakt</a>
  </div>
</section>
